@charset "UTF-8";

body {background-color: rgba(140, 188, 233, 0.938);}

.transition-exemplo li {
  background-color: blue;
  transition: background-color 1s;
  padding: 10px;
  display: inline-block;

} 

.transition-exemplo li:hover {
  background-color: green;
}

