@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
  font-family: 'FonteLogo';
  src: url("../_fonts/bubblegum-sans-regular.otf");
}


/* Propriedades comuns a várias classes */
div#conteudo-secund {
  padding-top: 10px;
}

/* Classes genéricas */

.direita {
  text-align: right;
}

.esquerda {
  text-align: left;
}

.caixa-maior {
  height: 40px;
}

.referencia-pesquisa {
  font-size: 16px;
}

/* Cabeçalho da página */
header#cabecalho h1 {
  text-indent: 5px;
}

header#cabecalho h1 {
  text-indent: 5px;
}

header#cabecalho-pagina img {
  float: right;
  margin-right: 30px;
}

/* Main */
main#artigos-programacao {
  float: left;
  border-right: 1px solid #606060;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}



main#artigos-programacao header p {
  margin-top: 4px;
  color: #6e5a5a;
  font-weight: 600;
  padding-right: 10px;
  font-size: 12pt;
}
main#artigos-programacao h3, main#artigos-programacao footer {
  display: inline-block;
}

main#artigos-programacao article h4 {
  background-color: rgba(188, 188, 248, 0.5);
  padding: 8px 0px;
  width: 100%;
  margin: 0px auto 0px 0px;
  box-shadow: 1px 1px 2px rgb(71, 66, 66);
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  width: 80%;
}

main#artigos-programacao article h4:hover {
  background-color: rgb(202, 250, 170);
}

main#artigos-programacao article p {
  position: relative;
  margin-top: 5px;
  text-align: right;
}
main#artigos-programacao footer {
  width: 80%;
  display: block;
}


main#artigos-programacao footer p {
  font-size: smaller;
  text-align: right;
}

/* Article e filhos. */
article {
  margin: 10px 0px 10px 10px;
}

article h3 {
  /*background-color: rgba(198, 193, 219, 0.733);*/
  background-color: rgba(188, 188, 248, 0.5);
  padding: 8px 0px;
  width: 100%;
  box-shadow: 1px 1px 2px rgb(71, 66, 66);
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  margin-bottom: 8px;
}

article h3:hover {
  background-color: rgb(202, 250, 170);
}

article h3 a {
  color: rgb(9, 58, 87);
}

/* Artigos diversos */
div#conteudo-secund {
  clear: left;
  padding: 10px;
  border-right: 1px solid #606060;
  width: 80%;
  box-sizing: border-box;
}

header#artigos-diversos-cabecalho h1 {
  margin-bottom: 0px;
  margin-top: 4px;
}

div#conteudo-secund h1 {
  font-family: "FonteLogo", sans-serif;
  color: rgba(0,0,0,0.8);
}

div#conteudo-secund header h2 {
  margin-top: 0px;
}

div#conteudo-secund h2 {
  text-align: center;
}

div#conteudo-secund h2.referencia-pesquisa {
  text-align: left;
}

div#conteudo-secund section#noticias header h1 {
  font-family: "Inconsolata", monospace;
}

div#conteudo-secund section h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

div#conteudo-secund section#vbnet iframe {
  display: block;
  margin: auto;
  border: 1px solid rgba(89, 89, 250, 0.712);
  box-shadow: 1px 1px 1px rgb(109, 109, 204);
}

div#conteudo-secund article p {
  margin: 4px 0px;
}

section#conteudo-secund section#artigos-avioes h2 {
  margin-top: 0px;
}

/* Seção de notícias */
header#noticias-cabecalho {
  width: fit-content;
}
header#noticias-cabecalho h1 {
  margin-bottom: 0px;
}
header h2 {
  margin-top: 0px;
  text-indent: 5px;
}

/* Conteúdo lateral */


aside#anuncios h3 {
  font-family: "FonteLogo";
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16pt;
  color: #3054f5;
  font-weight: 300;
}

aside#anuncios p {
  margin-top: 10px;
  background-color: rgba(190, 229, 231, 0.89);
  padding: 10px;
  margin-bottom: 0px;
  font-weight: 500;
  color: rgb(0, 48, 0);
  font-size: 12pt;
}

footer#rodape {
  clear: both;
}




